.header {
  font-size: 0.9em;
}
#navBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 55px;
}

#navBar::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#img_logo {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.nav_start {
  display: flex;
  align-items: center;
  margin-left: 5px;
  height: 50px;
  width: 600px;
}
.search_icon_container {
  width: 400px;
  height: 42px;
  margin-left: 3px;
  margin-top: 7px;
  align-items: center;
}
#magnifying_icon {
  background-image: url(../public/icons/header-icons/sv_magnifying.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  position: absolute;
  z-index: 1;
  opacity: 52%;
  top: 3px;
  left: 179px;
  width: 50px;
  height: 50px;
}
.searchInput {
  background-color: #fcfafa;
  opacity: 0.7;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 0px 10px 45px;
  border: none;
  border-radius: 30px;
  cursor: text;
  width: 200px;
}
input:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
.searchInput:focus + #modalSearch {
  display: block;
}
#conteudoModalSearch {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 15px;
}
#modalSearch {
  cursor: pointer;
  z-index: 2;
  display: none;
  position: absolute;
  top: 52px;
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 60px;
}
#setaModal {
  background-color: white;
  position: absolute;
  top: -5px;
  left: 33px;
  rotate: 45deg;
  width: 9px;
  height: 9px;
}

#compass_icon {
  opacity: 0.5;
}
#upArrow_container {
  position: absolute;
  left: 240px;
  bottom: 5px;
}
#upArrow_icon {
  background-image: url(../public/icons/header-icons/svg-arrow.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 13px;
  opacity: 0.5;
  width: 50px;
  height: 50px;
}
.hovered #upArrow_icon {
  opacity: 1;
}

.nav_end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-right: 15px;
}

#writeLink_container {
  position: absolute;
  right: 245px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
}

#writeLink {
  margin-left: 10px;
  text-decoration: none;
  color: #716f79;
}

#write_icon {
  background-image: url(../public/icons/header-icons/svg-writing.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 52%;
  position: absolute;
  z-index: 1;
  right: 35px;
  width: 24px;
  height: 24px;
}

.hovered #writeLink {
  color: black;
}
.hovered #write_icon {
  opacity: 1;
}
#signUpBtn {
  background-color: #458ce4;
  color: white;
  height: 33px;
  width: 73px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
#signUpBtn:hover {
  background-color: #2d7ee2;
}
#signInText {
  color: #716f79;
  text-decoration: none;
}
#signInText:hover {
  color: black;
}

#container_userIcon {
  width: 32px;
  height: 32px;
  border: 0.6px solid;
  border-color: #f0e7e7;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

#user_icon {
  max-width: 100%;
  height: auto;
}
#img_hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#img_hover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Estilização para telas entre 720px e 880px*/
#under_navBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 110px;
}
#under_navBar::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#divNav_start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#underImg_logo {
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 15px;
}

.underSearch_icon_container {
  width: 400px;
  height: 42px;
  margin-left: 3px;
  margin-top: 7px;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 170px;
}
#underMagnifying_icon {
  background-image: url(../public/icons/header-icons/sv_magnifying.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  position: absolute;
  z-index: 1;
  opacity: 52%;
  top: -3px;
  width: 50px;
  height: 50px;
}
.underSearchInput {
  background-color: #fcfafa;
  opacity: 0.7;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 0px 10px 45px;
  border: none;
  border-radius: 30px;
  cursor: text;
  width: 200px;
}
#underModalSearch {
  cursor: pointer;
  z-index: 2;
  display: none;
  position: absolute;

  top: 52px;
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 60px;
}
.underSearchInput:focus + #underModalSearch {
  display: block;
}
#underConteudo_modal {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 18px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 15px;
}
#underSetaModal {
  background-color: white;
  position: absolute;
  top: -5px;
  left: 33px;
  rotate: 45deg;
  width: 9px;
  height: 9px;
}
#underCompass_icon {
  opacity: 0.5;
}
#underWriteLink_container {
  position: absolute;
  right: -90px;
  bottom: 5px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
}
#underWrite_icon {
  background-image: url(../public/icons/header-icons/svg-writing.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 52%;
  position: absolute;
  z-index: 1;
  right: 35px;
  width: 24px;
  height: 24px;
}
#underWriteLink {
  margin-left: 10px;
  text-decoration: none;
  color: #716f79;
}
.hovered #underWriteLink {
  color: black;
}
.hovered #underWrite_icon {
  opacity: 1;
}
#underContainer_userIcon {
  width: 32px;
  height: 32px;
  border: 0.6px solid;
  border-color: #f0e7e7;
  border-radius: 40px;
  overflow: hidden;
  position: absolute;
  right: -155px;
  bottom: 0px;
}

.upperNav_end {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  position: relative;
  gap: 17px;
  margin-top: 10px;
}
.upperNav_end::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: -7px;
  width: 100%;
}
#upperSignUpBtn {
  background-color: #458ce4;
  color: white;
  font-size: 0.9em;
  text-align: center;
  height: 22px;
  width: 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
#upperSignUpBtn:hover {
  background-color: #2d7ee2;
}
#upperSignInText {
  color: #716f79;
  text-decoration: none;
  margin-right: 15px;
  font-size: 0.9em;
  position: relative;
}
#upperOpen {
  position: absolute;
  left: 20px;
  font-size: 0.9em;
  color: #716f79;
}
#upperArrow_icon {
  background-image: url(../public/icons/header-icons/svg-arrow.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 10px;
  opacity: 0.5;
  position: absolute;
  top: -67px;
  left: -60px;
}
