@font-face {
  font-family: "sohne";
  src: url(/public/font/testSone.otf) format(opentype);
}
@font-face {
  font-family: "source-serif-pro";
  src: url(/public/font/SourceSerifPro-Regular.otf) format(opentype);
}
@font-face {
  font-family: "Source code pro";
  src: url(/public/font/SourceCodePro-Regular.ttf) format(truetype);
}
p {
  width: 680px;
}
#flex-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 40px;
  gap: 10px;
  /* justify-content: center; */
}
h1 {
  width: 680px;
  font-size: 40px;
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
  font-weight: 900;
  font-style: normal;
  color: #313131;
  line-height: 50px;
}
#code-container {
  margin-top: 5px;
  width: 680px;
  margin-bottom: 10px;
  display: flex;
}

code {
  background-color: #f3f0ed;
  padding: 2px 4px;
  font-family: "Source Code Pro", monospace;
  color: #716f79;
  font-size: 1em;
  font-weight: 400;
}

#info-container {
  height: 70px;
  width: 680px;
  position: relative;
}
#photo-container {
  width: 60px;
}

#publisher-container {
  overflow: hidden;
  background-position: center;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 5px;
}
#publishers-hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#publishers-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#kpmg-container {
  overflow: hidden;
  background-position: center;
  width: 27px;
  height: 27px;
  border: solid white 2px;
  position: absolute;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 35px;
}
#kpmg-hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#kpmg-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#publisher-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 65px;
  margin-top: 7px;
  gap: 3px;
}
#name-link-container {
  width: 450px;
  display: flex;
}
#publishers-name {
  margin-left: 10px;
  cursor: pointer;
  width: 140px;
  position: relative;
}
#publishers-name:hover {
  text-decoration: underline;
}
#dot {
  cursor: text;
  background-color: #716f79;
  width: 2px;
  height: 2px;
  position: absolute;
  right: 10px;
  top: 12px;
}
#follow-link {
  color: rgb(61, 128, 253);
}
#follow-link:hover {
  color: rgb(50, 97, 252);
}

#kpmg-link {
  color: black;
}
#kpmg-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#published-text {
  display: flex;
  gap: 12px;
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #716f79;
  font-size: 0.9em;
  margin-left: 10px;
  position: relative;
}
#published-text::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: -30px;
  left: -70px;

  width: 675px;
}
#dot-5min {
  width: 2px;
  height: 2px;
  background-color: #85848b;
  position: absolute;
  right: 157px;
  cursor: text;
  top: 10px;
}
#dot-feb {
  cursor: text;
  width: 2px;
  height: 2px;
  background-color: #85848b;
  position: absolute;
  right: 77px;
  top: 10px;
}

#icones-body {
  display: flex;
  justify-content: space-between;
  width: 670px;
  align-items: center;
  height: 40px;
  margin-top: 30px;
}

#start-icons-flex::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  margin-top: 40px;
  width: 677px;
}

#clap-icon {
  width: 20px;
  height: 20px;
  opacity: 50%;
  cursor: pointer;
}
#clap-icon:hover {
  opacity: 1;
}
#clap-button {
  font-family: inherit;
  color: #716f79;
  font-size: 0.8em;
}
#clap-button:hover {
  color: black;
}

#message-icon-container {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#message-icon {
  width: 24px;
  height: 24px;
  opacity: 50%;
}
.hovered #message-icon {
  opacity: 1;
}
.hovered #message-number {
  color: black;
}
#message-number {
  font-size: 0.8em;
  color: #716f79;
}
#save-icon-button,
#share-icon-button,
#play-icon-button {
  opacity: 50%;
}
#save-icon-button:hover,
#share-icon-button:hover,
#play-icon-button:hover {
  opacity: 1;
}
#start-icons-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}
#clap-container {
  display: flex;
  gap: 5px;
}
#end-icons-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}
#robot-img {
  margin-top: 55px;
  height: 1050px;
  width: 680px;
  cursor: zoom-in;
}

#photo-by-text {
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62606b;
  font-size: 0.9em;
  width: fit-content;
}

#anchor-photo {
  text-decoration: underline;
  cursor: pointer;
}

#paragraph-code {
  padding: 2px 4px;
  font-family: "Source code pro", monospace;
  font-weight: 400;
  line-height: 30px;
  color: black;
  font-size: 0.8em;
  margin-left: 3px;
  margin-right: 3px;
}
#docker-init-code {
  padding: 2px 4px;
  font-family: "Source code pro", monospace;
  font-weight: 600;
  line-height: 30px;
  color: black;
  font-size: 0.8em;
  margin-left: 3px;
  margin-right: 3px;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
  font-family: "source-serif-pro", Georgia, "Times New Roman", Times, serif;

  margin-top: 30px;
  font-size: 20px;
  color: #313131;
}
#docker-anchor {
  text-decoration: underline;
  color: rgb(41, 41, 41);
  font-family: "Source serif pro";
  font-size: 14px;
  font-weight: 600;
}
h2 {
  width: 680px;
  font-size: 24px;
  line-height: 20px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
  margin-bottom: -30px;
  margin-top: 30px;
}
#ita-paragraph {
  font-family: "source-serif-pro", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(41, 41, 41);
  font-style: italic;
}

#pseudo-leftBar1 {
  display: flex;
  position: relative;
  margin-top: 30px;
  height: 60px;
}
#ita-code {
  font-family: "Source code pro", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #313131;
}
#pseudo-leftBar1::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 55px;
  width: 3px;
  top: 6px;
  left: -20px;
}
