@font-face {
  font-family: "sohne";
  src: url(/public/font/testSone.otf);
}

#flex-body {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  margin-top: 50px;
  max-width: 100%;
  padding: 25px;
}
h1 {
  width: 680px;
  font-size: 40px;
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
  font-weight: 900;
  font-style: normal;
  color: rgb(36, 36, 36);
  letter-spacing: -0.01em;
  line-height: 50px;
}
#code-container {
  margin-top: 10px;
  background-color: #f3f0ed;
}

code {
  font-family: "Source Code Pro", monospace;
  color: #716f79;

  font-weight: 400;
}

#info-container {
  position: relative;
  height: 1px;
}
#photo-container {
  width: 60px;
}
#publisher-container {
  overflow: hidden;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 35px;
  left: 0px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}
#publishers-hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#publishers-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#kpmg-container {
  overflow: hidden;
  background-position: center;
  width: 26px;
  height: 26px;
  position: absolute;
  border: solid white 2px;
  top: 55px;
  left: 33px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}
#kpmg-hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#kpmg-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#publisher-info {
  display: inline-block;
}
#publishers-name {
  cursor: pointer;
  position: absolute;
  left: 65px;
  top: 35px;
  width: 150px;
}
#publishers-name:hover {
  text-decoration: underline;
}
#dot {
  cursor: text;
  background-color: #716f79;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 12px;
  right: 22px;
}
#follow-link {
  top: 35px;
  position: absolute;
  left: 200px;
  color: rgb(61, 128, 253);
}

#published-text {
  position: absolute;
  left: 65px;
  top: 60px;
}
#kpmg-link {
  color: black;
}
#kpmg-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#published-text {
  display: flex;
  gap: 5px;
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #716f79;
  font-size: 0.9em;
  width: 500px;
}
#published-text::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: -15px;
  left: -60px;

  width: 675px;
}

#icones-body {
  display: flex;
  justify-content: flex-end;
  width: 670px;
  gap: 30px;
  align-items: center;
  height: 40px;
  margin-top: 100px;
}
#icones-body::after {
  content: "";
  display: block;
  border-bottom: 1px solid #f7e5e5;
  position: absolute;
  bottom: 10px;
  left: 25px;
  width: 100%;
}
#clap-icon {
  width: 20px;
  height: 20px;
  opacity: 50%;
  position: absolute;
  left: 30px;
  cursor: pointer;
}
#clap-icon:hover {
  opacity: 1;
}
#clap-button {
  font-family: inherit;
  color: #716f79;
  font-size: 0.8em;
  position: absolute;
  left: 60px;
}
#clap-button:hover {
  color: black;
}

#message-icon-container {
  width: 60px;
  height: 24px;
  position: absolute;
  left: 100px;
  cursor: pointer;
}

#message-icon {
  width: 24px;
  height: 24px;
  opacity: 50%;
  position: absolute;
  left: 0px;
  bottom: 1px;
}
.hovered #message-icon {
  opacity: 1;
}
.hovered #message-number {
  color: black;
}
#message-number {
  font-size: 0.8em;
  color: #716f79;
  position: absolute;
  left: 25px;
  bottom: 1px;
}

#save-icon-button,
#share-icon-button,
#play-icon-button {
  opacity: 50%;
}
#save-icon-button:hover,
#share-icon-button:hover,
#play-icon-button:hover {
  opacity: 1;
}
#robot-img {
  height: 1050px;
  width: 680px;
  position: absolute;
  top: 350px;
}
