@font-face {
  font-family: "sohne";
  src: url(/public/font/testSohne.otf) format(opentype);
}

#footer-flex {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: #f9f9f9;
}
#publisher-info-div {
  position: relative;
  max-width: 680px;
  height: 100%;
}
#publisher-img-container {
  margin-top: 80px;
  background-position: center;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

#kpmg-container-footer {
  background-position: center;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: solid 2px white;
  cursor: pointer;
  position: absolute;
  left: 55px;
  top: 115px;
}

#h2-footer {
  margin: 15px;
  margin-left: 0;
}
#flex-container-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 10px;
  height: 60px;
}
#footer-btn-container {
  display: flex;

  gap: 20px;
  height: 40px;
  align-items: center;
  position: relative;
  margin-top: 5px;
}
#sub-btn {
  height: 35px;
  width: 35px;
  background-color: rgb(38, 142, 228);
  background-position: center;
  margin-right: 36px;
  border-radius: 30px;
}
#sub-btn:hover {
  background-color: rgb(17, 123, 211);
}
#sub-svg {
  position: absolute;
  bottom: 10px;
  right: 38px;
  width: 30px;
  height: 20px;
  filter: invert(100%);
}
#follow-btn {
  height: 40px;
  background-color: rgb(38, 142, 228);
  width: 80px;
  color: white;
  border-radius: 30px;
  font-size: 0.9em;
}

#follow-btn:hover {
  background-color: rgb(17, 123, 211);
}
#dot-container-footer {
  position: relative;
}
#grid-2-flex-container {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
#grid-2-flex-container .clap-container {
  display: flex;
  align-items: center;
}
#dot-container-footer::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #f7e5e5;
  display: block;
  position: absolute;
  top: 110px;
}
#dot-footer {
  background-color: #777777;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 100px;
}

.footer-text {
  display: flex;
  gap: 10px;
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #716f79;
  font-size: 0.9em;
  margin-top: -15px;
}

#footer-text-2 {
  font-family: "sohne, Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 15px;
  font-size: 0.9em;
  color: rgb(29, 29, 29);
}
#author-link {
  text-decoration: underline;
}
h4 {
  max-width: 680px;
  font-size: 16px;
  line-height: 20px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
  margin-top: 70px;
}

.more-from-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

#grid-img-1-container,
#grid-img-2-container,
#grid-img-3-container,
#grid-img-4-container {
  max-width: 340px;
  max-height: 400;
}

#img1-flex-container,
#img2-flex-container,
#img3-flex-container,
#img4-flex-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  gap: 10px;
}
.img-container-footer {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 22px;
  width: 22px;
  border-radius: 30px;
  overflow: hidden;
}
.Devops-footer-text {
  font-size: 12px;
  line-height: 20px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
}

.footer-link-text {
  font-family: "sohne", Helvetica, sans-serif;
  font-size: 12px;
  color: #777777;
  margin-left: 35px;
  margin-top: 5px;
}

.footer-link-text a {
  color: black;
  cursor: pointer;
}
.footer-link-text a:hover {
  text-decoration: underline;
}
footer img {
  cursor: pointer;
}
.more-from-grid h3 {
  max-width: 340px;
  font-size: 19px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
}

.more-from-grid .footer-text {
  font-family: "sohne", Helvetica, sans-serif;
  max-width: 340px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
#m-bottom-h3 {
  margin-bottom: 30px;
}
.more-from-grid #dot-feb {
  left: 75px;
  top: 170px;
}

.more-from-grid #start-icons-flex::after {
  display: none;
}

.more-from-grid #start-icons-flex {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.more-from-grid .save-icon-button {
  position: absolute;
  right: 40px;
}
.more-from-grid .footer-text {
  font-size: 15px;
}
#dot-feb-4-footer {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #777777;
  left: 83px;
  top: 170px;
}

.more-from-grid::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #f7e5e5;
  display: block;
  position: absolute;
  bottom: 0px;
}

#see-all-flex {
  display: flex;
  gap: 15px;
  max-width: 680px;
  height: 100%;
  align-items: center;
  position: relative;
}

#see-all-btn {
  border: solid 1px rgb(41, 41, 41);
  padding: 8px 15px;
  border-radius: 30px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  color: rgb(41, 41, 41);
  margin-top: 40px;
}

#see-more-flex {
  display: flex;
  max-width: 680px;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 100px;
}
#see-more-btn {
  border: solid 1px rgb(41, 41, 41);
  padding: 8px 15px;
  border-radius: 30px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  color: rgb(41, 41, 41);
  align-items: center;
  margin-top: 15px;
}

#footer-flex-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
  max-width: 100vw;
}

#footer-flex-2::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #f7e5e5;
  display: block;
  position: absolute;
  top: 80px;
}

#recommended-div {
  position: relative;
  max-width: 680px;
  height: 100%;
  margin-top: 30px;
}

#h2-footer-2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

#dot-artturi {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #777777;
  left: 101px;
  top: 152px;
}
#dot-artturi-2 {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #777777;
  left: 20px;
  top: 152px;
}

#footer-overflow-container {
  overflow: hidden;
  height: 170px;
  width: 310px;
}

#grid-img-3,
#grid-img-4 {
  width: 320px;
  height: 190px;
}

#grid-images {
  height: 50px;
  width: 100px;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.grid-img-container {
  overflow: hidden;
  max-height: 150px;
  max-width: 325px;
}
#grid-1-img-container .grid-img-container {
  background-position: center;
  align-items: center;
}
#m-top-text {
  margin-top: 28px;
}
.grid-container {
  height: 400px;
  max-width: 340px;
}
.front-list-img {
  z-index: 1;
  height: 70px;
  width: 80px;
  position: absolute;
}
#bg-list-img-container {
  position: relative;
}
#bg-list-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-list-img {
  z-index: 0;
  height: 70px;
  width: 80px;
  position: absolute;
  left: 30px;
  top: 0px;
  opacity: 1;
}

#grid-list-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  max-width: 680px;
  gap: 10px;
  align-items: center;
}

#grid-list-footer h3 {
  max-width: 272px;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "sohne", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
}
#grid-list-footer .footer-text {
  font-size: 13px;
}

#list-text-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
}
#list-text-flex .footer-text {
  position: absolute;
  bottom: 5px;
}

#Lists h3 {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

#Lists {
  margin-bottom: 80px;
  justify-self: center;
}
.more-from-grid {
  margin-bottom: 30px;
  position: relative;
  gap: 10px;
}

.more-from-grid::after {
  content: "";
  max-width: 680px;
  border-bottom: 1px solid #f7e5e5;
  display: block;
  position: absolute;
  bottom: -30px;
}

#footer-div {
  width: 100%;
  position: relative;
}

#footer-flex-3 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
  gap: 40px;
}
#footer-flex-3 a {
  width: 100%;
  max-width: 100%;
}
#footer-flex-3 .footer-text {
  flex: 1;
  max-width: 80px;
  font-size: 12px;
  margin-left: -25px;
  margin-bottom: 30px;
}

#footer-div::after {
  content: "";
  width: 100vw;
  border-bottom: 1px solid #f7e5e5;
  display: block;
  position: absolute;
  bottom: 70px;
}
#dot-oliver-container {
  position: relative;
}
#dot-oliver {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #777777;
  left: 20px;
  bottom: 9px;
}
#dot-oliver-2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #777777;
  left: 100px;
  bottom: 9px;
}
#benedict-dot-container {
  position: relative;
}
#dot-benedict {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #777777;
  left: 83px;
  bottom: 10px;
}
#arun-dot {
  position: relative;
}
#dot-arun-1 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #777777;
  left: 75px;
  bottom: 10px;
}
#arun-dot-container {
  position: relative;
}
#dot-arun {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #777777;
  left: 74px;
  bottom: 10px;
}
#dot-milan-container {
  position: relative;
}
#dot-milan {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #777777;
  left: 74px;
  bottom: 10px;
}
#dot-kuber-container {
  position: relative;
}
#dot-kuber {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #777777;
  left: 75px;
  bottom: 58px;
}

.publishers-hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
.publishers-hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#kpmg-container-hover {
  position: relative;
}

#kpmg-hover-1 {
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#kpmg-hover-1:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
  #footer-flex-3 {
    display: none;
  }
  #footer-flex-3::after {
    display: none;
  }
  footer {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  #footer-flex {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 15px;
  }
  .more-from-grid {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0px;

    grid-template-columns: 1fr;
  }
  .grid-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .grid-img-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }
  span {
    display: none;
  }
  #footer-flex-2 {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 15px;
  }
  #recommended-div {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #see-all-flex {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  #see-all-btn {
    width: 100%;
    max-width: 100%;
  }
  #footer-flex-2 {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #grid-img-3-container,
  #grid-img-4-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #footer-overflow-container {
    width: 100%;
    max-width: 100%;
    height: 220px;
  }

  #sm-occult-br {
    display: none;
  }

  .Devops-footer-text {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .Devops-footer-text h3 {
    width: 100%;
    max-width: 100%;
  }
  .Devops-footer-text .footer-text {
    width: 100%;
    max-width: 100%;
  }

  #grid-list-footer {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #grid-images {
    margin-left: 30px;
  }
  #list-text-flex {
    margin-left: -90px;
  }
  #grid-img-1-container,
  #grid-img-2-container,
  #grid-img-3-container,
  #grid-img-4-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #grid-img-container {
    width: 100%;
    max-width: 100%;
  }
  #see-more-flex {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    justify-content: center;
  }
  .more-from-grid::after {
    display: none;
  }
  #see-more-btn {
    width: 100%;
  }
  #pseudo-leftBar3 {
    width: 100%;
    max-width: 100%;
  }
  #p3 {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
  #pre2 {
    width: 100%;
    max-width: 100%;
  }
  #sm-button-div {
    width: 100%;
    max-width: 100%;
  }
  #info-container {
    width: 100%;
    max-width: 100%;
  }
  #publisher-info {
    width: 450px;
    max-width: 500px;
    max-width: 100%;
  }
  #underImg_logo {
    width: 145px;
    height: 20px;
  }
  .star-icon {
    width: 15px;
    height: 15px;
  }
  #footer-div {
    display: none;
  }
}
